@import "src/styles/variables.scss";

.servies {
    background-color: #F1ECE8;
    padding: 75px;
}
.servies-hero-title{
    font-size: 40px;
    font-weight: 500;
    line-height: 46.88px;
    color: #0d4c93;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 68px;
}
.section-servise{
    padding: 45px 0;
}