@import "src/styles/variables.scss";
// .product-list {
//     margin-top: 60px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }

// .product-card {
//     max-width: 413px;
//     background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%);
//     padding: 17px 70px 42px 70px;
//     border-radius: 35px;
// }

// .product-image {
//     width: 220px;
//     height: 220px;
// }

// .product-title {
//     font-size: 24px;
//     font-weight: 400;
//     line-height: 28.13px;
//     text-align: center;
//     color: #363535;
//     margin-top: 7px;
//     margin-bottom: 27px;
// }

// .product-button {
//     color: #ffffff;
//     font-size: 20px;
//     line-height: 23.44px;
//     padding: 23px 58px;
//     border-radius: 35px;
//     opacity: 0.9px;
//     background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
//     border: none;
// }

.products-page-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 46.88px;
    color: rgba(13, 76, 147, 1);
}

.products-page-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 201, 201, 1);
    margin-right: 5px;
}
.products-page-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}
.products-page{
    margin-bottom: 100px;
}